# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Opcional: modelos/artefactos pesados
# artifacts/
# model_zoo/

# Entorno virtual local
.eib/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
